.header{
    background-color: #333;
    padding: 10px;
    display:flex;
    justify-content: center;
    
}
a{
    text-decoration: none;
    color:white;
    font-weight:bold;
    font-size:16px;
    transition: 0.3s;
    padding :12px;

}
a:hover {
    color: #ffc107; 
  }

  a.active {
    color: #ffc107;
  }